main {
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;

    margin-top: 50px;
    display: block;
}

#main-card{
    margin-top:20px;

}

#main-card-body{
    margin-left:10px;
    margin-right:10px;
}